@import '../../mixins/common';

.patient-sign-up {
  @include colCenter;
  padding: 30px 0 50px;

  .logo-wrap {
    img {
      max-height: 100px;
    }
  }

  .card {
    border: 2px solid #f5f5f5;
    padding: 30px 70px;
    min-width: 37vw;

    .title {
      font-size: 16px;
      text-align: center;
      letter-spacing: 2.5px;
      position: relative;
      margin-bottom: 40px;
      color: #494949;

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        height: 3.5px;
        width: 10%;
        left: 0;
        right: 0;
        top: 28px;
        margin-left: auto;
        margin-right: auto;
        bottom: 2px;
        background: #0bb5ff;
      }
    }
  }

  .fields {

    .honorific-field-partition{
      @include equalSplitPartiton;
      border: 1px solid rgba(222,222,222,1.0);

      .honorific-value{
        font-size: 12px;
        color: #636363;
      }
    }

    .field-partition {
      @include equalSplitPartiton;
    }

    .honorific-head{
      .honorific-title{
        font-family: var(--fontMain);
        font-size: 12px;
        color:#636363;
          font-weight: normal;
          margin-bottom: 8px;
      }
  
      .honorific-star-icon {
        width: 8px;
        color: #ff0023;
        position: absolute;
        padding-bottom: 10px;
      }
  
    }

    .field-wrap {
      margin: 10px 0;
    }

    .txt-field-label,
    .field-label {
      font-size: 12px;
      color: #636363;
    }

    .txt-field-wrap {
      .txt-field {
        width: 100%;
        .MuiOutlinedInput-notchedOutline {
          border-color: #dedede !important;
        }
      }
      .err-msg {
        font-size: 11px;
      }
    }

    .txt-field-wrap.with-error {
      padding-bottom: 17px;
    }

    .signup-age-fld {
      .txt-label-wrap {
        display: inline-flex;
        position: relative;

        .star-icon {
          top: -10px;
          left: 20px;
        }
      }
    }

    .dob-field {
      font-size: 14px;
      font-weight: normal;
      position: relative;
      padding-bottom: 17px;

      .field-label {
        label {
          margin: 0;
        }

        .star-icon {
          width: 8px;
          color: #ff0023;
          position: absolute;
          top: -10px;
        }
      }

      .MuiOutlinedInput-notchedOutline {
        border-color: #dedede !important;
      }

      .error-msg {
        color: #dc3545;
        font-size: 11px;
        position: absolute;
        bottom: 0;
      }

      .date-field {
        width: 100%;

        .MuiOutlinedInput-adornedEnd {
          svg {
            color: #dddddd;
          }
        }
      }
    }

    .submt-btn-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;

      .signup-btn {
        background: #0bb5ff;
        color: #fff;
        width: 100%;
      }

      .signin-btn-align {
        padding-left: 20px !important;
      }

      .signin-btn-wrap {
        font-size: 12px;
        padding: 7px 0;
        color: #9e9d9d !important;

        .signin-btn {
          color: #0bb5ff;
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }
  }
}


.MuiInput-underline:before {
  border-bottom: none !important;
}
.MuiInput-underline:after {
  border-bottom: none !important;
}
