.doc-dashboard {
  .tabbable-line {
    .tab-header {
      .left-wrapper {
        .nav-tabs {
          cursor: pointer;
          .tab-ic {
            font-size: 16px;
            margin-right: 7px;
          }
        }
      }
      .right-wrapper {
        display: flex;
        align-items: center;
        .doc-nav-icon-wrap {
          .doc-nav-icon {
            font-size: 14px;
          }
        }
      }
    }
  }
  .my-doctors-sec {
    max-height: calc(100vh - 173px);
    overflow: hidden;
    overflow: auto;
    .user-card {
      .user-meet-detail {
        .user-appt {
          .card-tag {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .time-tag {
              margin: 2px;
            }
          }
        }
      }
    }
  }
}

.dashboard-wrapper {
  height: 100%;
  width: 100%;
  padding: 15px 20px;
}

.tabbable-panel{
  height: 100%;
}

.tabbable-line{
  height: 100%
}

// ------------- Tab bar ----------------------------

/* Default mode */

.tabbable-line .tab-header {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  background-color: #fff;
  padding-top: 10px;
}

.tabbable-line .left-wrapper {
  display: inline-flex;
  align-items: flex-end;
}

.tabbable-line .right-wrapper {
  display: inline-flex;
  padding: 15px 0;
}

.tabbable-line .right-wrapper .search-wrap {
  display: inline-flex;
  border-bottom: 1px solid #dddddd;
}

.tabbable-line .right-wrapper .search-wrap .search-ip {
  border: none;
  font-size: 12px;
}

.tabbable-line .right-wrapper .search-wrap .search-ip:focus {
  outline: none;
}

.tabbable-line .right-wrapper > div {
  margin: 0 0 0 25px;
}

.tabbable-line .right-wrapper .search-wrap .search-ic .icon-search {
  font-size: 14px;
}

.tabbable-line .right-wrapper .view-wrap {
  display: inline-flex;
}

.tabbable-line .right-wrapper .filter-wrap {
  display: inline-flex;
}

.tabbable-line .right-wrapper .menu-wrap {
  display: inline-flex;
}

.tabbable-line .nav-tabs {
  border: none;
  margin: 0px;
}

.tabbable-line .nav-tabs > li {
  margin-right: 15px;
  padding: 10px 20px;
  font-size: 12px;
}

.tabbable-line .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line .nav-tabs > li > a:hover {
  text-decoration: none;
}

.tabbable-line .nav-tabs > li > a > i {
  color: #a6a6a6;
  padding-right: 5px;
}

.tabbable-line .nav-tabs > li.open > a,
.tabbable-line .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line .nav-tabs > li.open > a > i,
.tabbable-line .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.tabbable-line .nav-tabs > li.open .dropdown-menu,
.tabbable-line .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.tabbable-line .nav-tabs > li.active {
  border-bottom: 3px solid var(--primary);
  position: relative;
}

.tabbable-line .nav-tabs > li.active > a {
  border: 0;
  color: var(--primary);
}

.tabbable-line .nav-tabs > li.active > a > i {
  color: var(--primary);
}

.tabbable-line > .tab-content {
  height: calc(100% - 60px);
  background-color: transparent;
  border: 0;
}

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
