.doc-dashboard{
    .tabbable-line{
        .tab-header{
            .nav-tabs{
                cursor: pointer;
            }
        }
    }

    .my-doctors-sec{
        max-height: calc(100vh - 248px);
        overflow: hidden;
        overflow: auto;

    }
}