.label {
  margin-bottom: 0.4em;
  font-size: 13px;
  font-family: var(--fontBold);
  color: var(--text);
}

.input-elemet {
  width: 94%;
  border-color: transparent;
  background: var(--field-bg-disable) !important;
  font-size: 13px;
  font-family: var(--fontRegular);
  color: var(--text) !important;
}
