@import '../../mixins/common';

.doc-report-pg-wrap {
  padding: 16px 32px 16px 16px;
  background: #f2f2f2;
  height: 100%;

  .card {
    height: 100%;
    position: relative;

    // ------------------ header ----------------------------------
    .header-wrap {
      // @include lrPartition;
      display: flex;
      justify-content: space-between;

      .left-partition {
        .tab-wrap {
          .report-tab-switcher {
            min-height: 0;

            .report-tab {
              text-transform: capitalize;
              color: #666666;
              padding-top: 18px;
              margin-bottom: 4px;

              &.Mui-selected {
                color: #00b5fb;
                font-weight: bold;
              }
            }

            .MuiTabs-indicator {
              height: 3px;
            }
          }
        }
      }

      .ExportButton{
        width: 30px;
        pointer-events: visible;
        margin-right: 10px;
        cursor: pointer;
        
        .downloadIconImg{
          width: 30px;
        }
      }

      .right-partition {
        display: flex;
        align-items: flex-end;
        padding-right: 18px;

        .icon-btn {
          padding: 6px;
          margin-right: 16px;

          .icon {
            color: #666;
          }
        }

        .date-filter {
          margin-right: 24px;
          @include rowCenter;

          .MuiOutlinedInput-input {
            width: 164px;
          }

          .date-label {
            font-size: 14px;
            color: #666;
            margin-right: 8px;
          }
        }

        .search-wrap {
          .MuiBox-root {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
