@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.eot?m0r15j');
  src: url('./icomoon.eot?m0r15j#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?m0r15j') format('truetype'),
    url('./icomoon.woff?m0r15j') format('woff'),
    url('./icomoon.svg?m0r15j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: '\e900';
}
.icon-calendar:before {
  content: '\e901';
}
.icon-doctor:before {
  content: '\e902';
}
.icon-dot-menu:before {
  content: '\e903';
}
.icon-filter:before {
  content: '\e904';
}
.icon-notify:before {
  content: '\e905';
}
.icon-patient:before {
  content: '\e906';
}
.icon-progress:before {
  content: '\e907';
}
.icon-search:before {
  content: '\e908';
}
.icon-settings:before {
  content: '\e909';
}
.icon-video:before {
  content: '\e90a';
}
.icon-view:before {
  content: '\e90b';
}
