.doc-report-pg-wrap {
  .panel-wrap {
    padding: 24px;
    table {
      width: 100%;

      th,
      td {
        padding: 8px;
      }

      thead th {
        font-size: 14px;
        color: #b7b7b7;
        font-weight: 500;
      }

      tbody td {
        font-size: 16px;
        font-weight: normal;
      }
    }

    .no-data-wrap {
      text-align: center;
      padding: 10vh 0;

      .no-data {
        font-size: 18px;
        color: #666;
      }
    }
  }
}
