.doc-work-schedule-wrap {
  padding: 10px 70px;
  width: calc(100% - 257px);
  overflow: auto;

  .main-head {
    font-size: 18px;
    padding: 7px 0;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .sub-head {
    font-size: 14px;
    padding: 7px 0;
    font-weight: 500;
  }

  // ------------------------------------ session time -------------------------------//

  .session-time-det-wrap {
    padding: 10px 0;
    .session-options-wrap {
      display: flex;
      padding: 7px 0;

      .session-custom-option {
        max-width: 110px;

        .MuiInputBase-input {
          font-size: 11.5px;
          color: #aaa;
        }

        .MuiInput-underline:before {
          border-bottom-color: #aaaaaa;
        }

        .MuiInput-underline:hover:not(.Mui-disabled):before {
          border-bottom: 1px solid #aaa;
        }
      }

      .session-custom-option.active {
        .MuiInputBase-input {
          color: #0bb5ff;
        }

        .MuiInput-underline:before {
          border-bottom: 2px solid #0bb5ff;
        }

        .MuiInput-underline:hover:not(.Mui-disabled):before {
          border-bottom: 2px solid #0bb5ff;
        }
      }
    }
  }

  // ---------------------------- over booking -------------------------------------

  .overbooking-det-wrap {
    .overbooking-status {
      display: flex;
      align-items: center;
      padding: 10px 0;

      .sub-head {
        margin-right: 20px;
      }
    }
    .overbooking-option {
      display: flex;
      align-items: center;
      font-size: 11.5px;
      font-weight: 400;
      color: #aaa;

      .overbooking-value {
        margin-left: 5px;
        margin-right: 15px;

        .overbooking-field {
          outline: none;
          border: none;
          max-width: 30px;
        }
      }
    }
  }

  // ---------------------------- work schedule -----------------------------------

  .schedule-calender-wrap {
    padding-top: 10px;

    .main-title {
      padding: 27px 0;
      font-size: 17px;
      letter-spacing: 1.2px;
    }

    .table {
      border-collapse: collapse;

      .table-head,
      .table-cell {
        border: 1px solid #f9f9fa;
      }

      thead {
        .table-head {
          padding: 20px 30px;
          width: 200px;
          text-align: center;
          text-transform: capitalize;
          color: #818181;
          font-weight: 500;
          font-size: 13px;
        }
      }
      tbody {
        .table-cell {
          padding: 20px;
          height: 100px;
          font-weight: 400;
          font-size: 10px;
          white-space: nowrap;

          .appointments {
            display: flex;
            flex-direction: column;
            .slot-wrap {
              padding-bottom: 30px;
              .slot {
                border: 1px solid #f8f8f8;
                color: #c0c0c0;
                cursor: default;
                padding: 3px;
              }
            }
            .slot-wrap.last-slot {
              display: none;
            }
          }
        }
      }
    }
  }
}

// --------------------------- edit availablity dialog --------------------------------

.slot-dialog {
  .MuiDialog-paper {
    padding: 37px;
    width: 37vw;

    .title-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .popup-title {
        font-size: 20px;
        color: #555;
      }

      .close-btn-wrap {
        position: absolute;
        right: 0;

        .close-btn {
          min-height: 0;
          height: 30px;
          width: 30px;

          &:hover {
            background: transparent;
          }
        }
      }
    }

    .slots-wrap {
      padding: 17px 20px 0;

      .slot {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .txt-field {
          max-width: 100px;
          margin-right: 10px;

          .MuiInputBase-input {
            height: 10px;
          }
        }
        .txt-field.end-time {
          margin-left: 10px;
        }

        .del-btn {
          min-height: 0;
          height: 30px;
          width: 30px;
          color: #ff597d;

          &:hover {
            background: transparent;
          }
        }
      }
    }

    .list-btns {
      padding: 5px 20px;
      font-size: 12px;
      color: #0bb5ff;
      font-weight: 500;

      .btn-wrap {
        margin-bottom: 20px;

        span {
          cursor: pointer;
          display: inline-block;
          font-size: 11.5px;
        }
        .make-unavailable {
          margin-bottom: 20px;
          border: 1px solid #0bb5ff;
          padding: 2px 5px;
        }
      }
    }

    .ctrl-btns {
      padding: 0 10px;
      display: flex;

      .apply-btn,
      .cancel-btn {
        flex: 1;
        margin: 0 10px;
        border-radius: 20px;
      }

      .apply-btn {
        background: #0bb5ff;
        color: #fff;
        font-weight: 500;
      }

      .cancel-btn {
        background: #d8d8d8;
      }
    }
  }
}

// ------------------------- option box ------------------------------------------

.option-box {
  display: inline-block;
  border: 1px solid #ebebeb;
  color: #a3a3a3;
  padding: 7px 17px;
  margin-right: 15px;
  border-radius: 2.5px;
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.option-box.active {
  border-color: #0bb5ff;
  color: #0bb5ff;
  transition: 0.3s;
}

// ----------------------------------- edit field -------------------------------------

.edit-field-wrap {
  display: inline-block;
  .edit-field {
    outline: none;
    border: none;
    max-width: 26px;
    font-size: 11.5px;
    // text-align: right;

    &:disabled {
      background: transparent;
      color: #000;
    }
  }

  .edit-toggle-btn,
  .save-btn {
    color: #0bb5ff;
    min-height: 0;
    height: 24px;
    width: 24px;
    &:hover {
      background: transparent;
    }

    .MuiSvgIcon-fontSizeSmall {
      font-size: 16px;
    }
  }
}
