.app-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  border-bottom: 1px solid #dddddd;
  padding: 20px;
}
.app-navbar .logo-img {
  display: inline-flex;
}

.app-navbar .logo-img .app-logo {
  width: 120px;
}

.app-navbar .left-wrapper {
  display: inline-flex;
  align-items: center;
}
.app-navbar .left-wrapper .vd-wrap {
  display: inline-flex;
  align-items: center;
  background-color: var(--primary);
  padding: 8px 15px;
  border-radius: 100px;
  margin-right: 15px;
  font-size: 10px;
  color: #fff;
  height: 32px;
}
.app-navbar .left-wrapper .vd-wrap i.icon-video {
  padding-right: 10px;
  font-size: 9px;
}
.app-navbar .left-wrapper .notify-wrap {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  color: #666;
  margin-right: 15px;
}
.app-navbar .left-wrapper .logedin-info {
  display: inline-flex;
  align-items: center;
}
.app-navbar .left-wrapper .logedin-info .signin-title {
  display: inline-flex;
  font-size: 14px;
}
.app-navbar .left-wrapper .logedin-info .signin-img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  border: 1px solid #edeff2;
  margin-left: 10px;
}
.app-navbar .left-wrapper .logedin-info .signin-img .img-sigin {
  width: 100%;
}
