.doc-setting-schedule {
  padding: 20px 40px;

  .schedule-head {
    font-family: var(--fontRegular);
    font-size: 18px;
    font-weight: bold;
  }

  .sch-sub-head {
    font-size: 16px;
    padding: 10px 0;
  }

  .edit-btn {
    margin: 0 10px;
    font-size: 16px;
    color: var(--primary);
  }

  .timer-box {
    border: 1px solid #aaa;
    padding: 5px 10px;
    margin-right: 20px;
    display: inline-block;
    border-radius: 3px;
    font-size: 13px;
    cursor: default;
  }

  .session-time {
    padding: 5px 0;
    .timer-fields {
      .custom-timer-box {
        border-color: var(--field-bg-disable);
        .custom-time-input {
          border: none;
          max-width: 110px;

          &:focus,
          &:active {
            border: none;
            outline: none;
          }
        }
      }
    }

    .timer-box.active,
    .custom-timer-box.active {
      border: 2px solid var(--primary);
      color: var(--primary);
    }
  }

  .date-range {
    padding: 10px 0;

    p {
      font-size: 13px;
      .field-value {
        font-weight: bold;
      }
    }
  }

  .add-booking {
    .add-book-head {
      .toggle {
        margin-left: 15px;
      }
    }

    .booking-fields {
      font-size: 13px;
      .pay-type {
        margin-left: 5px;
      }
    }
  }

  .schedule-calender {
    padding-top: 30px;

    .calender-head {
      .month-year {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 20px;
      }
    }

    .calender-wrap {
      padding-top: 30px;
      .table {
        thead {
          font-family: var(--fontRegular);
          font-weight: bold;
          font-size: 12px;

          .table-head {
            border: 1px solid var(--inactive);
            padding: 20px 30px;
            width: 200px;
            text-align: center;
            text-transform: capitalize;
          }
        }
        tbody {
          .table-cell {
            border: 1px solid var(--inactive);
            padding: 20px;
            height: 100px;

            .appointments {
              display: flex;
              flex-direction: column;
              .slot-wrap {
                padding-bottom: 15px;
                .slot {
                  border: 1px solid var(--inactive);
                  cursor: default;
                  padding: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}
