.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    padding: 25px;
    .logo-img {
      height: 90px;
    }
  }

  .signin-box-wrap {
    padding: 30px 50px 20px;
    width: 500px;
    .signin-box {
      .signin-head {
        font-size: 18px;
        letter-spacing: 1.7px;
        margin-bottom: 30px;
        text-align: center;
        margin-bottom: 50px;
        position: relative;
        font-family: var(--fontBold);
        font-weight: 700;
        color: var(--text);

        &::after {
          content: ' ';
          display: block;
          position: absolute;
          height: 3px;
          width: 10%;
          left: 0;
          right: 0;
          top: 28px;
          margin-left: auto;
          margin-right: auto;
          bottom: 2px;
          background: var(--primary);
        }
      }

      .fields {
        .field-wrap {
          padding-bottom: 20px;
        }
      }

      .password-field-wrap {
        position: relative;
        .forgot-password {
          float: right;
          cursor: pointer;
          font-size: 12px;
          text-transform: uppercase;
          color: var(--inactive);
          transition: 0.5s;
          padding: 2px;
          position: absolute;
          top: 34px;
          right: 0;

          &:hover {
            transition: 0.5s;
            color: var(--primary);
          }
        }
      }

      .submit-btn-wrap {
        position: relative;
        padding-top: 50px;
        .error-status {
          position: absolute;
          top: 20px;
          left: 0;
          right: 0;
          text-align: center;
        }
        .error-status.error {
          color: red;
        }
        .error-status.warning {
          color: yellow;
        }
        .error-status.success {
          color: green;
        }
        .submit-btn {
          background: var(--primary);
          border-color: var(--primary);
          border-radius: 0;
          width: 100%;
          text-transform: uppercase;
          font-size: 12px;
        }
        .sign-up-wrap {
          text-align: center;
          font-size: 12px;
          padding: 7px;
          margin-bottom: 0;
          .sign-up {
            color: var(--primary);
            cursor: pointer;
          }
        }
      }
    }
  }
}
