@import '../../../mixins/common';

.patient-detials-edit {
  padding: 0 25px 20px;
  font-size: 14px;
  font-weight: normal;
  max-height: calc(100vh - 65px);
  overflow-y: auto;

  .title {
    font-size: 18px;
    font-weight: 500;
    color: #4c4c4c;
  }

  .detials-table-wrap {
    table {
      .tbl-cell {
        min-width: 17vw;
        padding: 17px 0;
      }

      .field-name {
        color: #515151;
      }

      .field-value {
        color: #929292;
      }
    }
  }

  .more-desc {
    margin-top: 40px;
    .sub-title {
      font-size: 16px;
      font-weight: 500;
      color: #888;
    }
    .field-label {
      margin: 10px 0 15px;
      color: #515151;
    }
    .field-area {
      height: 115px;
      width: 40vw;
      border: 1px solid #e0e0e0;
      color: #929292;
      padding: 10px;
    }
  }

  .allergy-list {
    margin-top: 20px;

    .field-name {
      vertical-align: top;
    }

    .field-value {
      .allergies {
        list-style: none;

        .allergy {
          margin-top: 10px;
        }
      }
    }
  }

  .edit-btn {
    background: #0bb5ff;
    color: #fff;
    border-radius: 20px;
    width: 150px;

    &:hover {
      background: #0bb5ff;
    }
  }

  .appointment-section {
    margin-top: 40px;
    .appointment-type-tab {
      display: flex;
      padding: 20px 0;

      .appointment-tab {
        color: #6b6b6b;
        cursor: pointer;
      }

      .appointment-tab.active {
        color: #0bb5ff;
        position: relative;

        &::after {
          content: ' ';
          display: block;
          position: absolute;
          height: 3.5px;
          width: 93%;
          left: 0;
          right: 0;
          top: 19px;
          margin-left: auto;
          margin-right: auto;
          bottom: 2px;
          background: #0bb5ff;
        }
      }

      .upcoming-tab-wrap {
        margin-right: 50px;
      }
    }

    .appointment-list-wrap {
      max-width: 53vw;

      .no-appointment {
        padding-top: 10px;
        padding-bottom: 50px;
      }
    }
  }
}
