.ov-video-container {
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: row;
}

.ov-video-with-sideBar {
    height: 100%;
    width: 77%;
}

.ov-video-without-sideBar {
  height: 100%;
  /* width: 100%; */
}

.ov-video {
  height: 100%;
}
.video {
  width: 50%;
}
.waiting-container {
  width: 50%;
  background-color: grey;
  text-align: center;
}
.spinner {
    color: #ffffff;
    margin-top: 45%;
    .MuiCircularProgress-colorPrimary {
      color: #ffffff;
    }
}
.text {
    color: #ffffff;
}
.fullscreen {
  height: 100%;
  width: 100%;
}

.patientScreen {
  height: 20%;
  width: 20%;
}
.height {
  height: 100%;
}
