.select-role-page {
  .select-role-view {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100vw;

    .select-role-logo {
      background: url('../../assets/img/bg.png') no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 300px;
      }
    }
    .select-role-control {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .select-role-head {
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 2px;
        margin-bottom: 40px;
        font-weight: 700;
      }

      .select-role-option {
        display: flex;
        justify-content: center;
        align-items: center;

        .option-btn-container {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 30px;
          transition: 0.5s;
          .option-btn {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin: 10px;
            // border: 2px solid var(--primary);
            border: 2px solid #d8d8d8;
            display: flex;
            justify-content: center;
            align-items: center;

            .btn-img {
              font-size: 50px;
              color: var(--inactive);
            }
          }

          .active-tick {
            position: absolute;
            right: 20%;
            top: 10px;
            img {
              height: 20px;
              width: auto;
            }
          }

          .option-title {
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 500;
            color: #d8d8d8;
          }
        }

        .selected-option {
          transition: 0.5s;
          .option-btn {
            border-color: var(--primary);
            .btn-img {
              color: var(--primary);
            }
          }
          .option-title {
            color: var(--primary);
          }
        }
      }
    }
  }
}
