/* eslint-disable */

body {
  font-family: var(--fontRegular) !important;
  overflow: hidden;
}

.app-main {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.app-content {
  display: flex;
  width: 100%;
  height: calc(100vh - 57px);
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.content-wrapper {
  width: calc(100% - 60px);
  height: auto;
  background-color: #f8f8f8;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
