:root {
    --primary: #0bb5ff;
    --primary-light: #54cbff;
    --background: #fff;
    --inactive: #d8d8d8;
}

$theme-colors: (
  "primary": var(--primary)
);

@import '~bootstrap/dist/css/bootstrap.min.css';