// -------------- User card ---------------------
.user-card {
  width: 335px;
  display: inline-flex;
  background-color: #fff;
  box-shadow: 0 0 15px #00000014;
  padding: 14px;
  flex-flow: column;
  border-bottom: 2px solid var(--primary);
  padding-top: 9px !important;
}

.user-cards-wrap {
  padding-top: 20px;
  grid-column-gap: 1.3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 18px;
}

.user-card .user-row {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.user-card .user-row .usr-img {
  width: 60px;
  height: 60px;
  border-radius: 70px;
}

.user-card .user-row .user-detail {
  padding-left: 20px;
}

.user-card .user-row .user-name {
  font-size: 18px;
  color: #5b5b5b;
  margin: 0;
}

.name-desg {
  color: #afafaf;
  font-size: 14px;
  margin: 0;
}

.user-meet-detail {
  display: flex;
  //   justify-content: space-between;
  padding-bottom: 2px;
}

.user-meet-detail > div {
  padding-right: 20px;
}

.user-meet-detail > div:last-child {
  padding-right: 0px;
}

.title-light {
  color: #afafaf;
  font-size: 11px;
  margin: 0;
}

.user-meet-detail .card-text {
  font-size: 14px;
  font-weight: 500;
  color: #686868;
}

.time-tag {
  background-color: #efefef;
  color: #a0a0a0;
  font-size: 12px;
  border-radius: 20px;
  padding: 2px 7px;
  margin: 0px;
}

.user-card .user-btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-btn-row .settings-btn {
  border: 1px solid var(--primary);
  background-color: transparent;
  border-radius: 5px;
  color: var(--primary);
  padding: 2px 12px;
  font-size: 14px;
}

// .anticon svg {
//     margin-left: 321px ! important;
//     color: #CCCCCC;
//     padding: 1.1px;
// }
.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  margin-top: 4px;
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

.styled-checkbox:hover + label:before {
  background: var(--primary);
  border-color: var(--primary);
}

/*.styled-checkbox:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }*/

.styled-checkbox:checked + label:before {
  background: var(--primary);
  border-color: var(--primary);
  border-radius: 3px;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.setting-Outlined {
  color: #cccccc;
  text-align: right;
}

.display {
  display: flex;
}

.fa-rupees-sign {
  font-size: 12px;
  margin-top: 6px;
}
